/* Estilos da pagina index.html */

.center {
    margin-top: 50px;
    text-align: center;
    font-family: FreeMono, monospace;
}

.justify{
    text-align: justify;
}
.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;   
}

#menu{
    background-color: cornflowerblue;
}

#menu li{
    flex-direction: row-reverse;
    display: inline;
    padding: 15px;
}

#menu li a{
    text-decoration: none;
    color: black;
    font-size: larger;
}

#menu li a:hover{
    color: gray;
}

.p-30{
    padding: 30px;
}

.br-50{
    border-radius: 50%;
}

.wh-360{
    width: 360px;
    height: 360px;
}

.mb-50{
    margin-bottom: 50px;
}

.tm-social{
    width: 30px;
    height: 30px;
}
/* Estilos da pagina contato.html */

.ml-50{
    margin-left: 50px;
}

.p-fonte{
    font-family: serif;
    font-size: xx-large;
}